@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
